"\ec": "!\clear\n"
"\ex": "'x,'zp\n"
"\exs": "'s,'ap\n"
"\exw": "'w,'qp\n"
"\ep": "!lang=$(sed 's/.*\\.//'<<<\"%\"); pygmentize -l $lang -O style=zenburn % | less -R\n"
"\ell": "!npx eslint % --fix\n"
"\elt": "!npx tsc % --noEmit\n"
"\et": "!tput cup "
"\er": "; tput ed"
"\egd": "!git diff %\n"
"\egs": "!git status %\n"
"\ega": "!git add %\n"
"\egc": "!git commit %\n"
"\egp": "!git pull && git push\n"
"\egl": "!git log %\n"
"\eo": ",v/([/**])|(\\/\\/)/n\n"
"\ed": 'r !date -u +"\\%a \\%d \\%b \\%Y"\n'
"\eds": "!$HOME/llama.cpp/build/bin/llama-cli --no-display-prompt  -mli -if -f % -m $HOME/models/deepseek-coder/deepseek-coder-6.7b-instruct.Q4_K_M.gguf\n"
