"\ec": "!\clear\n"
"\ex": "'x,'zp\n"
"\exs": "'s,'ap\n"
"\exw": "'w,'qp\n"
"\ep": "!lang=$(sed 's/.*\\.//'<<<\"%\"); pygmentize -l $lang -O style=zenburn % | less -R\n"
"\egd": "!git diff %\n"
"\egs": "!git status %\n"
"\ega": "!git add %\n"
"\egc": "!git commit %\n"
"\egp": "!git pull && git push\n"
"\egl": "!git log %\n"
